<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Bucket List{% endblock %}</title>
        <script src="https://kit.fontawesome.com/f9102af03b.js" crossorigin="anonymous"></script>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
           <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/media.css') }}">
        {% endblock %}

        <link rel="icon" type="image/png" href="{{ asset('img/faviconv2.gif') }}"/>

        {% block javascripts %}
            {% endblock %}

    </head>
    <body>
        <header>
            {% block header %}

            <div>
                <input type="checkbox" id="burger">
                <label id="burger-button" for="burger">
                    <i class="fas fa-user"></i>
                </label>
                <nav id="burger-content">
                    <div id="nav-top">
                        <h1>Informations du compte</h1>
                        <label id="burger-button" for="burger">
                            <i class="fas fa-times"></i>
                        </label>
                    </div>
                    <div id="profil-infos">
                        <i id="infos-pic" class="fas fa-user"></i>
                        <div id="infos-pseudo"><h1><?= $username ?></h1></div>
                    </div>

                    <ul>
                        <li><a href="profil.php?user_id=<?=$id?>" onclick="document.getElementById('burger').click()">Profil</a></li>
                        <li><a href="{{ path('app_logout') }}" onclick="document.getElementById('burger').click()">Déconnexion</a></li>
                    </ul>
                </nav>
                <h1>Accueil</h1>
                <a href="{{ path('back_home')}}">Back</a>
                <div id="overlay"></div>
            </div>


            {% endblock %}
        </header>
        <main>
            <section id="content">
            {% block main %}{% endblock %}

            </section>

        </main>
        <footer>
            {% set currentPath = app.request.get('_route') %}
            <a href="{{ path('home')}}">{% if currentPath == 'home'%}<i class="fas fa-flag" style="color: rgb(29, 161, 242);"></i>{% else %} <i class="far fa-flag"></i>{% endif %} <span class="text">Home</span></a>
            <a href="{{ path('search')}}">{% if currentPath == 'search'%}<i class="fas fa-search" style="color: rgb(29, 161, 242);"></i>{% else %} <i class="fas fa-search"></i>{% endif %} <span class="text">Rechercher</span></a>
            <a href="{{ path('contact')}}">{% if currentPath == 'contact'%}<i class="fas fa-envelope" style="color: rgb(29, 161, 242);"></i></i>{% else %}<i class="far fa-envelope"></i>{% endif %} <span class="text">Messages</span></a>
        </footer>

    </body>
</html>
